.Menu {
    position: absolute;
    top: 50px;
    right: 80px;
}
.Menu ul {
    display: flex;
    align-items: center;
}
.Menu ul li:not(:last-child) {
    margin-right: 70px;
}
.Menu ul li a {
    letter-spacing: 0.4rem;
}