.Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: #4f4f4f;
}
.Layout main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.Layout h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.2rem;
}