.Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: #4f4f4f;
}
.Layout main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.Layout h1 {
    margin: 40px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 0.8rem;
}
.Layout a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.8rem;
    color: white;
}